html, body{
	//height: 100%;
	margin: 0px;
}
.container{
	width: 900px;
	//height: 100%;
	margin: auto;
	background-color: black;
}
#photos1, #photos2, #photos3  {
		float: left;
		width: 33.33%;
		//height: 100%;
}
.mosaic img {
  
  
  width: 100%;
  border: solid 5px black;
  box-sizing: border-box;
  vertical-align: top;
  margin: 0px;
  opacity: 1;
  transition: all 300ms;
  
}
.mosaic img:hover {
	transform: scale(1.1);
}


/*
@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

body {
  margin: 0;
  padding: 0;
}
*/